// Place all the styles related to the cryptos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#crypto-card{
    
    .panel-heading{
        
    }
    
    .panel-title{
        
    }
    
    .panel-body{
        color: #004a99;
        background: #ffffff;
        font-family: 'Kanit', sans-serif;
    }
    
}

